body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-repeat: no-repeat;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.container{
  height: 100%;
  background-color: white;
  background-image: url("images/background.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.subClass1{
  /*content: url('images/arrow.png');*/
  /*height: 100px;*/
  /*animation: slidein*/
  border:10px solid green;
  position:absolute;
}

.upArrow{
  content: url('images/arrow.png');
  height: 100px;
  /*border:10px solid blue;*/
  /*border-radius:10px;*/
  position:absolute;
}

.dancer{
  border:10px solid red;
  /*content:url(images/arrow.png);*/
  border-radius:10px;
  position:absolute;
}

